- name: Kaydet ve Yukle
        run: |
          git config --global user.name 'GitHub Action Bot'
          git config --global user.email 'actions@github.com'
          
          # Bu satır, oluşan TÜM ayrı m3u dosyalarını yükler
          git add *.m3u
          
          git commit -m "Kanallar guncellendi: $(date)" || exit 0
          git push
