name: Otomatik Guncelleme
on:
  schedule:
    - cron: '0 * * * *' # Her saat başı çalışır
  workflow_dispatch: # İstediğinde elle çalıştırma butonu ekler

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Python Kur
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Gerekli Araclari Yukle
        run: pip install yt-dlp
      - name: Linki Guncelle
        run: python update_link.py
      - name: Kaydet ve Yukle
        run: |
          git config --global user.name 'GitHub Actions'
          git config --global user.email 'actions@github.com'
          git add sozcu.m3u
          git commit -m "Otomatik link guncellendi" || echo "Degisiklik yok"
          git push
