name: Otomatik Guncelleme

on:
  schedule:
    - cron: '0 */3 * * *' # Her 3 saatte bir çalışır
  workflow_dispatch:      # Manuel tetikleme butonu

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Depoyu Çek
        uses: actions/checkout@v3

      - name: Python Kur
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Gerekli Araclari Yukle
        # İŞTE ÇÖZÜM BURADA: Hem requests hem yt-dlp yükleniyor
        run: |
          pip install requests
          pip install https://github.com/yt-dlp/yt-dlp/archive/master.zip

      - name: Linki Guncelle
        run: python update_link.py

      - name: Kaydet ve Yukle
        run: |
          git config --global user.name 'GitHub Action Bot'
          git config --global user.email 'actions@github.com'
          git add sozcu.m3u
          # Eğer değişiklik yoksa hata verme, devam et
          git commit -m "Link guncellendi: $(date)" || exit 0
          git push
