name: Otomatik Guncelleme

on:
  schedule:
    - cron: '0 */4 * * *' # Her 4 saatte bir
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Python Kur
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Gerekli Araclari Yukle (EN GUNCEL SURUM)
        # BURASI KRİTİK: Doğrudan GitHub'dan en son sürümü çeker
        run: pip install https://github.com/yt-dlp/yt-dlp/archive/master.zip

      - name: Linki Guncelle
        run: python update_link.py

      - name: Kaydet ve Yukle
        run: |
          git config --global user.name 'GitHub Actions'
          git config --global user.email 'actions@github.com'
          git add sozcu.m3u
          git commit -m "Link guncellendi: $(date)" || exit 0
          git push
